<div class="row">
  <div class="col-xs-12">
    <div class="panel panel-default">
      <div class="panel-heading cl-panel-heading">
        <div class="row">
          <h4 class="title pad-left-right">Contacts</h4>
        </div>
        <div class="row">
          <div class="input-group pull-left pad-left-right col-xs-7">
            <!-- Add the search box input field here -->
            <input
              #searchBox
              (keyup)="search(searchBox.value)"
              class="form-control"
              placeholder="Enter a search value"
            />
            <div
              class="glyphicon glyphicon-search input-group-addon"
              (click)="search(searchBox.value)"
            ></div>
          </div>
          <div class="pull-right pad-left-right">
            <a class="btn btn-success" [routerLink]="['new']">New Contact</a>
          </div>
        </div>
      </div>
      <div
        class="cl-panel-body"
        cdkDropList
        [cdkDropListData]="contacts"
        (cdkDropListDropped)="onDrop($event)"
      >
        <div
          *ngFor="
            let contactEl of contacts | contactsFilter : searchBox.value;
            let i = index
          "
          cdkDrag
          [cdkDragData]="contactEl"
        >
          <cms-contact-item [contact]="contactEl"></cms-contact-item>
        </div>
      </div>
    </div>
  </div>
</div>
