<div class="row">
  <div class="col-xs-12">
    <div class="panel panel-default">
      <div class="panel-heading cd-panel-heading">
        <h2></h2>
        <div>
          <img src="" alt="" />
          <div class="cd-panel-heading-btn-wrapper">
            <button class="btn btn-primary">Edit</button>
            <button class="btn btn-danger">Delete</button>
          </div>
        </div>
      </div>
      <div class="cd-panel-body">
        <h5 class="">Email:</h5>
        <h5 class="">Phone:</h5>
      </div>
    </div>
  </div>
</div>
